@font-face {
                font-family: DrukCyr;
                font-display: swap;
                src: url("../fonts/DrukCyr-Bold.woff2") format("woff2"), url("../fonts/DrukCyr-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
