
@import 'modules/_home.scss';
@import 'modules/_footer.scss';
@import 'modules/_header.scss';

@import 'modules/_banner.scss';
@import 'modules/_catalog.scss';
@import 'modules/_about.scss';
@import 'modules/_bestseller.scss';
@import 'modules/_news.scss';
@import 'modules/_faq.scss';
@import 'modules/_contacts.scss';
@import 'modules/_shops.scss';

@import 'media.scss';
@import 'mobile.scss';

@import 'library/tpl.scss';
@import 'library/variables.scss';
@import 'library/buttons.scss';
@import 'library/forms.scss';
@import 'library/checkbox.scss';
@import 'library/inputs.scss';
@import 'library/radios.scss';

@import 'library/owlCarousel.scss';

//=======================================================================
.container{
  max-width: 1449px;
  margin: 0 auto;
  @media(max-width:1460px){
    max-width: 1200px;
  }
  @media(max-width:992px){
    max-width: 750px;
  } 
  @media(max-width:767px){
    max-width: none !important;
    padding: 0 15px;
  }
}
//=======================================================================

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

//=======================================================================

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: #FF0A14;;
}

::-webkit-scrollbar-thumb:hover {
  background: #c70e14; 
}

::-webkit-scrollbar-thumb:active {
  background: #6c080b; 
}

//=======================================================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  font-weight: 400;
  color: #323232;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
  line-height: 24px;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
  display: block;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


//=======================================================================

@import 'fonts.scss';
@import 'googlefonts.scss';


